* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    background-color: rgb(27, 27, 27);
    color: rgb(195, 195, 195);
}

h1 {
    font-size: 26px;
}

header {
    margin-top: 15px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
}

nav ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;
    border: 1px solid white;
}

nav a{
    text-decoration: none;
    display: block;
    text-indent: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
    line-height: 50px;
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #1d1d1d;
    padding: 15px;
    margin: 15px 0px;
    border-radius: 5px;
    font-family: monospace;
    color: rgb(41, 186, 41);
    font-size: 16px;
}
  

nav {
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid rgb(255, 255, 255);
    height: 100%;
    width: 300px;
}

#main-doc {
    position: absolute;
    margin-left: 320px;
    margin-right: 40px;
}



@media (max-width: 890px){
    nav {
        position: absolute;
        border-right: 1px solid rgb(255, 255, 255);
        max-height: 200px;
        width: 100%;
    }

    nav ul {
        overflow-y: auto;
        overflow-x: hidden;
    }


    #main-doc {
        position: absolute;
        margin-top: 270px;

        margin-left: 40px;
        margin-right: 40px;
    }
}